# Eclipse
.classpath
.project
.metadata
.settings/

# IntelliJ
.idea/
.idea_modules/
*.iml
*.iws
/out/

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Own schematics loader (not used currently but can be useful later; ugly as hell)
plugin/src/main/java/com/rojel/wesv/SchematicsHandler.txt
